<!DOCTYPE html>
<html>

<head>
    <title><%= @pokemon_details['name'].capitalize %></title>
    <style>
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="center">
        <a href="javascript:history.back()" class="dex-link">Dex</a>
        <h1 id="pokemonName"><%= @pokemon_details['name'].capitalize %></h1>
    </div>

    <% pokemon_name = @pokemon_details['name'] %>
    <% pokemon_image_url = @pokemon_details['sprites']['other']['official-artwork']['front_default'] %>

    <div class="center">
        <div>
            <button onclick="loadNormalForm()">Normal Form</button>
            <% if @varieties.present? %>
            <% @varieties.each do |variety| %>
            <button class="varietyButton" data-url="<%= j variety['url'] %>">
                <%= variety['name'].capitalize %>
            </button>
            <% end %>
            <% end %>
        </div>

        <a>
            <img id="pokemonImage" src="<%= pokemon_image_url %>"
                alt="<%= @pokemon_details['name'].capitalize %>">
        </a>

        <!-- Type table -->
        <table id="typeTable">
            <tr>
                <th colspan="<%= @pokemon_details['types'].length %>">Type</th>
            </tr>
            <tr>
                <% @pokemon_details['types'].each do |type| %>
                <td class="type-<%= type['type']['name'].downcase %>">
                    <span id="<%= "typeName#{type['type']['name']}" %>"><%= type['type']['name'].capitalize %></span>
                </td>
                <% end %>
            </tr>
        </table>
        <!-- Abilities table -->
        <table id="abilitiesTable">
            <tr>
                <th colspan="3">Abilities</th>
            </tr>
     <% @pokemon_details['abilities'].each do |ability_data| %>
  <tr data-ability-name="<%= ability_data['ability']['name'] %>">
    <td>
      <span class="ability-name" id="<%= "abilityName#{ability_data['ability']['name']}" %>"><%= ability_data['ability']['name'].capitalize %></span>
      <% flavor_text = fetch_flavor_text(ability_data['ability']['url']) %>
      <span id="<%= "abilityFlavorText#{ability_data['ability']['name']}" %>"><%= flavor_text ? " - #{flavor_text}" : '' %></span>
      <% if ability_data['is_hidden'] %>
      (Hidden Ability)
      <% end %>
    </td>
  </tr>
<% end %>


        </table>
        <!-- Stats table -->
        <table id="statsTable">
            <tr>
                <th colspan="3">Stats</th>
            </tr>
            <% @pokemon_details['stats'].each do |stat| %>
            <tr class="stat-<%= stat['stat']['name'].downcase %>">
                <td id="<%= "statName#{stat['stat']['name']}" %>"><%= stat['stat']['name'].split('-').map(&:capitalize).join(' ') %></td>
                <td id="<%= "statValue#{stat['stat']['name']}" %>"><%= stat['base_stat'] %></td>
            </tr>
            <% end %>
        </table>
        <!-- Height and Weight table -->
        <table id="heightWeightTable">
            <tr>
                <td>
                    <p>Height: <span id="heightValue"><%= @pokemon_details['height'] / 10.0 %> m</span></p>
                </td>
                <td>
                    <p>Weight: <span id="weightValue"><%= @pokemon_details['weight'] / 10.0 %> kg</span></p>
                </td>
            </tr>
        </table>
    </div>
<script>
  var varieties_details = <%= raw @varieties.to_json %>;
</script>

<script>
  var varieties_details = <%= raw @varieties.to_json %>;

  function loadNormalForm() {
    $.ajax({
      url: "<%= j pokemon_show_path(id: @pokemon_details['id']) %>",
      success: function (data) {
        updatePokemonDetails(data);
      }
    });
  }

  function updatePokemonDetails(data) {
  
    $("#pokemonName").text($(data).find("#pokemonName").text());
    $("#pokemonImage").attr("src", $(data).find("#pokemonImage").attr("src"));

   
    $.each(<%= raw @pokemon_details['stats'].to_json %>, function (index, stat) {
      var statName = stat['stat']['name'];
      var updatedStatName = $(data).find("#statName" + statName).html();
      var updatedStatValue = $(data).find("#statValue" + statName).html();

 
      if (updatedStatName !== undefined && updatedStatValue !== undefined) {
        $("#statName" + statName).html(updatedStatName);
        $("#statValue" + statName).html(updatedStatValue);
      }
    });

  <% @pokemon_details['types'].each_with_index do |type, index| %>
      var typeName<%= index %> = '<%= type['type']['name'] %>';
      var updatedTypeName<%= index %> = $(data).find("#typeName" + typeName<%= index %>).text();

 
      if (updatedTypeName<%= index %> !== undefined) {
        console.log('Type <%= index + 1 %>: ' + updatedTypeName<%= index %>);
        $("#typeTable td.type-<%= type['type']['name'].downcase %> span:first").text(updatedTypeName<%= index %>);
      } else {
     
        $("#typeTable td.type-<%= type['type']['name'].downcase %> span:first").text('');
      }
    <% end %>

t
    $("#heightValue").html($(data).find("#heightValue").html());
    $("#weightValue").html($(data).find("#weightValue").html());
      console.log("VARIETY");
  console.log(varieties_details);
      console.log("VARIETY");

    updateAbilities(varieties_details, "#abilitiesTable tr");


    if (<%= @pokemon_details['types'].length %> === 1) {
      var secondTypeElement = $("#typeTable td.type-<%= @pokemon_details['types'][0]['type']['name'].downcase %> + td span:first");
      secondTypeElement.text('');
      secondTypeElement.addClass('hidden');
    }
  }

function updateAbilities(varieties, selector) {
  $(selector).each(function () {
    var abilityName = $(this).find("span:first").text().trim().toLowerCase(); 
    console.log('Searching for Ability:', abilityName);

  
    var updatedAbility = null;

    $.each(varieties, function (index, variety) {
      console.log('Checking variety:', variety.name, 'Abilities:', variety.abilities);
      var ability = variety.abilities.find(function (ability) {
        return ability.name.toLowerCase() === abilityName;
      });

      if (ability) {
        updatedAbility = ability;
        return false; 
      }
    });

    console.log('Search Result:', updatedAbility);

    if (updatedAbility !== null) {
      console.log('Ability: ' + updatedAbility.name);
      console.log('Flavor Text: ' + updatedAbility.flavor_text);



      $(this).find("span:first").html(updatedAbility.name);

      if (typeof updatedAbility.flavor_text !== 'undefined') {
        $(this).find("span:last").html(updatedAbility.flavor_text);
      }
    } else {
      $(this).find("span:first").text('');
      $(this).find("span:last").text('');
    }
  });
}


  $(document).on("click", ".varietyButton", function () {
    var url = $(this).data("url");

    $.ajax({
      url: url,
      success: function (data) {
        updatePokemonDetails(data);
      }
    });
  });
</script>


</body>
</html>

