<!-- app/views/pokemon/types.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Pokedexxed - Pokemon Types</title>
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="/" class="dex-link">Home</a>

  <div class="center">
    <h1>Pokendex</h1>

    <div class="row">
      <% @pokemon_types.each_slice(4) do |types_set| %>
        <div class="types-row">
          <% types_set.each do |type| %> 
            <div class="pokeblock type-<%= type['name'].downcase %>">
              <%= link_to type['name'].capitalize, pokemon_by_type_path(type['name']) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</body>
</html>
